NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=your_emailjs_public_key_here
NEXT_PUBLIC_EMAILJS_SERVICE_ID=your_emailjs_service_id_here
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=your_emailjs_template_id_here
NEXT_PUBLIC_SANITY_PROJECT_ID=qciz82nj
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01
SANITY_API_TOKEN=your_sanity_api_token_here
SANITY_REVALIDATE_SECRET=your_revalidate_secret_here
NEXT_PUBLIC_SANITY_REVALIDATE_SECRET=your_revalidate_secret_here
